#container {
  padding: 0px 40px;
  background-color: ghostwhite;
}

.title {
  background: lightskyblue;
}
section ul {
  padding-left: 0px;
  text-align: center;
}

section li {
  display: inline-block;
  list-style: none;
  border-bottom: 2px solid orangered;
  margin: 15px 20px;
  padding: 0px;
  font-size: 12px;
}

a {
  color: blue;
  text-decoration: none;
}
h2 {
  margin-bottom: 50px red;
}

ul li a:hover {
  background-color: black;
  color: blue;
}
