.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    background: #B5EAEA     ;
}
/* #1abc9c  */
.navbar-nav  li a:hover {
    color: #1abc9c  !important;
}

.footer-padding {
	padding-bottom: 60px;
}

body{
    background-color: #FAF3F3;
}

/* .button{

} */
.footer {
	position: fixed;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 40px;
	background-color: #C6EBC9;
}

.footer p {
	margin-top: 12px;
	font-size: 12px;
  color: #000;
}
