body {
    font-family: 'Montserrat', sans-serif;
}
h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 1000;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
}
h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}
p{
    color: #8f8f8f;
}

/* Title section */
#title {
    background-color: #ff4c68;
    color: white;
}

.container-fluid {
    padding: 3% 15% 7%;
}


.navbar {
    padding-bottom: 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: 'Montserrat-Light', sans-serif;
    font-weight: 300;
}

.download-button {
    margin: 5% 3% 5% 0;
}

.title-image {
    width: 20.8%;
    transform: rotate(25deg);
    position: absolute;
    right: 25%;
}
@media(max-width:1100px)
{
    #title{
        text-align: center;
    }
    .title-image{
        position: static;
        transform: rotate(0);
        width: 60%;
    }
}
/* Features section  */
#features {
    padding: 7% 12%;
    background-color: #fff;
    position: relative;
}

.feature-box {
    text-align: center;
    padding: 7%;
}
.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}
.icon:hover{
    color: #ff4c68;
}
/* Testimonial section */
#testimonials{
    background-color: #ef8172;
    color: white;
    text-align: center;
}
.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
.carousel-item{
    padding: 7% 15%;
}
/* Press section */
#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}
/* Pricing */
#pricing{
    padding: 100px;
    text-align: center;
}
.pricing-column{
    padding: 3% 2%;
}
/* CTA section */
#cta{
    background-color: #ff4c68;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;
    padding: 7% 15%;
}
.cta-heading{
    font-size: 3.5rem;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
}
/* footer */
#footer{
    padding: 7% 15%;
    text-align: center;
}
.social-icon{
    margin: 20px 10px;
}