body {
    margin: 0%;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514E;
}

p {
    line-height: 2;
}
.pro{
    font-weight: normal;
}

h1 {
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #66BFBF;

}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF; 
}
h3{
    font-family: 'Montserrat', sans-serif;
    color:  #11999E;
}
.top-cloud {
    position:absolute ;
    top: 40px;
    right: 300px;
}
.bottom-cloud {
    position: absolute ;
    left: 250px;
    bottom: 300px;
}
.top-container {
    background-color: #E4F9F5;
    padding-top: 100px;
}
.intro{
    color: #40514E;
    width: 30%;
    margin: auto;
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}
.skill1{
    width: 25%;
    float: left;
    margin-right: 30px;
}
.skill2{
    height: 200px;
    width: 200px;
    float: right;
    margin-left: 30px;
}
.middle-container{
    margin: 100px 0;

}
.contact-message{
    width: 40%;
    margin: 40px auto 60px;
}
hr{
    border-style: dotted none none ;
    color: #EAF6F6;
    border-width: 6px;
    width: 4%;
    margin: 100px auto;
}
a{
    color:  #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}
a:hover{
    color: #EAF6F6;
}
.contact-me{ 
}
.bottom-container{
    background-color: #66BFBF;
    padding: 50px 0 20px;
}
.copyright{
    color: #EAF6F6;
    font-size: .75rem;
    padding: 20px 0;
}
.btn {
    background: #11CDD4;
    background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
    background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
    background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
    background-image: -o-linear-gradient(top, #11CDD4, #11999E);
    background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 100;
    padding: 20px;
    border: solid #337FED 0;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .btn:hover {
    border: solid #337FED 0;
    background: #30E3CB;
    background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    text-decoration: none;
 }